<div class="container container-new-page">
  <div class="row">
    <div class="col-5 form-wrapper">
      <h1>Lets add a new bike!</h1>
      <%= simple_form_for [ @bike] do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :address %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Add this bike", class: "btn btn-primary" %>
        <%= link_to "Cancel", bikes_my_bikes_path %>
      <% end %>
    </div>
    <div class="col-7" >
      <img src="https://images.pexels.com/photos/310983/pexels-photo-310983.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="img-new"  alt="">
    </div>
  </div>

</div>



